body{
  margin: 0;
  background-color: #f2f2f2;
  color: #19181C;
  padding: 0;
  
}

#pageone{
  border: 2px solid black;
  border-radius: 2px;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  padding: 0;
  border: 2px solid black;
  border-radius: 2px;
  background-color: white;
  font-size: 14px;
}

.heading{
  background-color: white;
  border-bottom: 2px solid silver;
  text-align: center;
  padding: 3%;
}

.title{
  font-size: 20px;
}

.close{
  color: #4169E1;
  font-size: 25px;
  padding-right: 0;
  text-align: right;
}

.panel-body{
background-color: white;
}

.line1{
  border-bottom: 1px solid silver;
  padding-top: 2%;
  padding-bottom: 3%;
}

.line1>.swipe{
  color: #9ACDFF;
  text-align: right;
  padding-right: 0;
}

.line1>.orders{
    padding-left: 0;
}

.row{
  margin:0;
}

.all_clients{
  padding-top: 3%;
  display: flex;
  align-items: center;
  height: 3%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 3%;
  border-bottom: 1px solid silver;
}

.all_clients>.col{
  padding-left: 0;
}

.image>img{
  height: 30px;
  width: 30px;
  }

.order{
  vertical-align: middle; 
  text-align: left; 
}

.menu{
  display:none;
  padding: 1%;
  font-size: 25px;
  margin-top: 2%;
  margin-left: 86%;
  position: fixed;
  border: 1px solid silver;
  border-radius: 5px;
  color: silver;
}

.menu:hover{
color: grey;
}


